@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #0d1117;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
